# Dependencies
node_modules/
client/node_modules/

# Production / Build
client/dist/

# Media and Data (Too big for Git)
오디오/
*.mp3

# Environment variables
.env
.env.local

# Logs
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/
